<h1>Login Form</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
      <mat-label>Login</mat-label>
      <input matInput type="text" placeholder="login" formControlName="login">
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label> password</mat-label>
    <input matInput type="password" placeholder="password" formControlName="password">
  </mat-form-field><br>
  <button mat-raised-button color="primary" type="submit" >Submit</button>

</form>
